:root{
    --color-1:6477C6;
    --color-2:4B4B71; 
    --color-3:white;
}
*
{
    margin: 0;
    padding: 0;

}
.header
{
    height: 100vh;
}  
.navbar-style
{
    box-shadow: 0 5px 10px #efefef;
}
 /* .MainPage{
    background-color: var(--color-1);
    height: 100%;
    width: 100%;
    justify-content: center;
    display: flex;
    align-items: center;
    border-radius: 20px;
}
.submit
{
  margin-top: 25%;
    background-color: var(--color-2);
    border-radius: 20px;
    height: 4em;
    width: 15em;
    font-style: normal;
    cursor: pointer;
    color: var(--color-3);
    font-family: sans-serif;
}  */

.panel-body
{
    background-color: var(--color-1);
}